{% extends 'base.html' %}

{% import 'forms.jinja' as f %}

{% block content %}

  <h3>Admin dashboard</h3>


  <h4 class="mt-3">Settings</h4>

  <form class="mt-3" action="" method="post" novalidate>

    {{ form.hidden_tag() }}

    {{ f.input_check(form.enable_registrations) }}

    {{ f.submit_save() }}

  </form>

  <h4 class="mt-3">Users</h4>

  <table class="table table-bordered">
    <thead>
      <th>Username</th>
      <th>Email</th>
      <th>Is admin</th>
    </thead>

    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            {% if user.is_admin %}
              <i class="fa fa-check text-success"></i>
            {% else %}
              <i class="fa fa-times text-danger"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
