{% extends 'base.html' %}

{% import 'forms.jinja' as f %}

{% block fullwidth %}

  <!-- <script src="https://cdn.jsdelivr.net/npm/@coderline/alphatab@latest/dist/alphaTab.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/@coderline/alphatab@1.3.0-alpha.131/dist/alphaTab.min.js"></script>

  <style type="text/css">
    {% include 'css/render.css' %}
  </style>

  <h3>
    <a href="{{ url_for('tabs.artist', artist_name=tab.band) }}">{{ tab.band }}</a>
    ·
    {{ tab.song }}
  </h3>

  <div class="mb-3">

    {% if current_user.is_authenticated %}
      <a href="#"
        class="btn btn-outline-secondary me-2 mt-2">
        <i class="fa fa-file-upload"></i>
        New revision
      </a>
      <a href="{{ url_for('tabs.edit_metadata', tab_id=tab.id) }}"
        class="btn btn-outline-secondary me-2 mt-2">
        <i class="fa fa-edit"></i>
        Edit metadata
      </a>
    {% endif %}
    <a href="{{ url_for('tabs.download_gp', tab_id=tab.id) }}"
       class="btn btn-outline-success me-2 mt-2">
      <i class="fa fa-file-download"></i>
      Download
    </a>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('tabs.delete', tab_id=tab.id) }}"
        class="btn btn-outline-danger me-2 mt-2">
        <i class="fa fa-trash"></i>
        Delete
      </a>
    {% endif %}

  </div>

  <div class="at-wrap">
    <div class="at-overlay">
      <div class="at-overlay-content">
        Music sheet is loading...
      </div>
    </div>

    <div class="sticky-top">
      <div class="at-controls bg-light row pt-1">
        <div class="at-controls-left me-2 ms-2 mb-2 d-flex flex-wrap align-items-center">

          <span class="mt-1 at-player-progress">0%</span>

          <a class="mt-1 btn btn-outline-dark at-player-stop disabled" title="stop">
            <i class="fas fa-step-backward"></i>
          </a>

          <a class="mt-1 btn btn-outline-dark at-player-play-pause disabled ms-1" title="play">
            <i class="fas fa-play"></i>
          </a>

          <div class="mt-1 at-song-position d-none d-lg-block ms-2">00:00 / 00:00</div>

          <div class="mt-1 dropdown at-tracks d-block ms-auto">
            <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
              <i class="fa fa-guitar"></i>
            </button>
            <ul id="track-list-dropdown" class="dropdown-menu at-track-list">
            </ul>
          </div>

          <button type="button" class="mt-1 ms-2 btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#player-settings">
            <i class="fa fa-cogs"></i>
          </button>

        </div>
      </div>
    </div>

    <div class="at-content">
      <div class="at-viewport">
        <div class="at-main"></div>
      </div>
    </div>
  </div>

  <template id="at-track-template">
    <li class="at-track">
      <button class="dropdown-item">
        <div class="at-track-details">
          <div class="at-track-name"></div>
        </div>
      </button>
    </li>
  </template>

  <div class="modal fade" id="player-settings" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Player settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal">
          </button>
        </div>

        <div class="modal-body">

          <div class="mt-0">
            <strong>View</strong>
          </div>

          <div class="d-flex flex-wrap">
            <div id="at-layout" class="mt-1 me-1 dropdown">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <i class="fa fa-list"></i>
                Layout
              </button>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" data-value="horizontal">Horizontal</button></li>
                <li><button class="dropdown-item active" data-value="page">Page</button></li>
              </ul>
            </div>

            <div class="mt-1 me-1 dropdown" id="at-zoom">
              <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <i class="fa fa-search"></i>
                Zoom
              </button>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" data-value="25">25%</button></li>
                <li><button class="dropdown-item" data-value="50">50%</button></li>
                <li><button class="dropdown-item" data-value="75">75%</button></li>
                <li><button class="dropdown-item" data-value="90">90%</button></li>
                <li><button class="dropdown-item active" data-value="100">100%</button></li>
                <li><button class="dropdown-item" data-value="110">110%</button></li>
                <li><button class="dropdown-item" data-value="125">125%</button></li>
                <li><button class="dropdown-item" data-value="150">150%</button></li>
                <li><button class="dropdown-item" data-value="200">200%</button></li>
              </select>
            </div>
          </div>

          <div class="mt-2">
            <strong>Playback</strong>
          </div>

          <div class="form-check mb-2">
            <input id="ps-metronome" class="form-check-input" type="checkbox">
            <label for="ps-metronome" class="form-check-label">Metronome</label>
          </div>

          <div class="form-check mb-2">
            <input id="ps-loop" class="form-check-input" type="checkbox">
            <label for="ps-loop" class="form-check-label">Loop</label>
          </div>


          <div>
            <div>
              Playback speed
            </div>
            <select id="ps-speed" class="form-select">
              <option value="50">50%</option>
              <option value="60">60%</option>
              <option value="70">70%</option>
              <option value="80">80%</option>
              <option value="90">90%</option>
              <option value="100" selected>100%</option>
              <option value="110">110%</option>
            </select>
          </div>

          <div>
            <label for="ps-custom-speed" class="form-label">Custom speed</label>
            <input id="ps-custom-speed" type="number" value="100" class="form-control">
          </div>

          <div>Transpose</div>

          <div class="mt-2">
            <strong>Tracks</strong>
          </div>

          <div>Tracklist (solo, mute, volume)</div>

          <div class="mt-2">
            <strong>Other</strong>
          </div>

          <div>
            <a id="at-print" class="btn btn-outline-dark" title="print">
              <i class="fas fa-print"></i>
              Print
            </a>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">
            <i class="fa fa-check"></i>
            Done
          </button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}

  <script type="text/javascript">
    {% include 'js/render.js' %}
  </script>

{% endblock %}

{% block footer %}{% endblock %}
