{% extends 'base.html' %}

{% import 'forms.jinja' as f %}

{% block content %}

  <h1>Upload a new Guitar Tab</h1>

  <div class="row">
    <div class="col-md-6">

      <form action="" method="post" enctype="multipart/form-data" novalidate>

        {{ form.hidden_tag() }}

        {{ f.input(form.upload_file) }}
        {{ f.input(form.song) }}
        {{ f.input(form.album) }}
        {{ f.input(form.band) }}
        {{ f.input(form.track) }}

        <a href="{{ url_for('main.index') }}" class="btn btn-outline-secondary">
          <i class="fa fa-caret-left"></i>
          Cancel
        </a>
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-file-upload"></i>
          Upload
        </button>

      </form>

    </div>
  </div>

{% endblock %}
